@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto+Mono:wght@100&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
}
.flex{
    display: flex;
    padding-top: 5px;
    height: 76px;
    margin-left: -112px;
    }
.heading{
    width: 100%;
    height: 100vh;
   background-image:url('pics/Code\ typing-cuate.png');
   background-repeat: no-repeat;
    background-color: black;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-position-x: 22cm;
   object-fit: contain;
   background-position-y: 2cm;
   
}    
nav ul li{
    padding: 0 12px;
    list-style: none;
    

}
nav ul li a{
    font-size: 18px;
    position: relative;
    font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-weight: bold;

}
nav ul li a::after{
    content: '';
    width: 0;
   
    height: 3px;
    background: aquamarine;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.headertext1{
    margin-left: 100px;
    color: white;
    margin-top: 20%;
    font-size: 30px;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
span{
    color: aquamarine;
}
.headertext1 h1{
    font-size: 60px;
    margin-top: 20px;

}
a{
    color: white;
    text-decoration: none;
}
.items-center{
    align-items: center;
}
.logoaman{
    
    width: 126px;
    /* height: 163px; */
    height: 76px;
    

}
.btn.btn-2:hover{
    
    transform: translateY(-7px);
}
.contact{
    margin-top: 20px;
    
    background: #262626;
    height: 68vh;
}
.btn.btn-2{
    display: inline-block;
    background: #42ffc0c8;
    
    color: white;
    border: #262626;
    border-style: solid;
    transition: transform 0.5s;
    padding: 10px 50px 10px 50px;
    font-size: x-large;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p i{
    color: aquamarine;
    margin-right: 15px;
    font-size: 25px;
    transition: transform 0.5s;
}
.contact-left p{
    margin-top: 30px;
    transition: transform 0.5s;
}
.contact-left p:hover{
    transform: translateY(-10px);
    color: aquamarine;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border-style: solid;
    border-color: aquamarine;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
.social-icons{
    margin-top: 30px;
    margin-bottom: 40px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
   transition: transform 0.5s;
    display: inline-block;
}
.social-icons a:hover{
    color: aquamarine;
    transform: translateY(-9px);
}
.container{
        padding:1px 10%;
        font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-weight: bold;

      }
.worksection{
    margin-top: 50px;
    height: 70vh;

}
h2{
    margin-top: -20px;
    font-weight: 900 ;
    font-size: x-large;
}
.about{
    padding: 80px 0;
    color: white;
}
h1{
    font-size: xxx-large;
}
.services-list div p{
    margin-top: 20px;

}
.about-col-2 h1{
   
    margin-left: 280px;
    margin-bottom: 20px;
    font-size: xxx-large;
    font-weight: bolder;
    margin-left: -6px;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
} 
.about-col-1{
    display: flex;
    flex-basis: 30%;
    margin-left: -67px;
}
.about-col-1 img{
    width: 100%;
}
.about-col-2{

    flex-basis: 60%;
    margin-left: 103px;
}
.tab-titles{
    display: flex;
    margin: 173px 0 231px;
}
.button.tab-links{
    margin-right:50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents{
    display: none;
}
.services-list div i{
    margin-bottom: 60px;
    font-size: xx-large;
}
.tab-contents.active-tab{
    display: block;
    margin-top: -168px;
    border-radius: 15px;
    border-style: ridge;
    /* border-block-color: black; */
    background: #262626;
}

nav{
    font-size: 12px;


}
.left{
    margin-left: 120vh;
    
    float: right;
}

.container1{
    width: 60%;
    height: 49vh;
    display: flex;
    margin-top: 30px;

    margin-left: 177px;
    justify-content: center;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    display: none;
    
    
}

.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
}


.swiper-wrapper{
    position: relative;
}
.content{
    margin-top: 50px;
    width: 0;
    height: 0;
    background:linear-gradient(rgb(0,0,0,0.6),#262626);
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    font-size: larger;
    bottom: 0;
  
    color: white;
    
    overflow: hidden;
    display: block;
    padding-top: 50px;
    transition: height 0.5s;
}
.content h3{
    font-size: x-large;
    color: aquamarine;

}
.content p{
    margin-top: 20px;
}

.swiper-wrapper:hover .content{
    height: 100%;
    width: 100%;
    
    border-color: aquamarine;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px 0px;
}
.copyright{
    display: flex; flex-wrap: wrap;align-items: center;margin-top: 4px;text-align: center;padding: 0 400px;
}
/*small screen adaptation*/
nav .fa-solid{
     display: none;}
@media only screen and (max-width: 600px){
    .logoaman {
        width: 170px;
        padding-left: 29px;
        /* height: 163px; */
        height: 56px;
        height: 87px;
    }
     .heading{
        width: 669px;
        height: 507px; 
         background-image: url(pics/Code_typing-cuate_1_1_optimized.png);
          object-fit: contain;
   background-position: center;
   background-position-x: 50px;
   
     }
     nav  .fa-solid.fa-lock{
        display: block;
        margin: -58px 34px 48px 728px;
        font-size: 50px;
        transition: transform 0.5s;
       
     }
     .headertext1{
        margin-top: 329px;
          font-size: 16px;
     }
     .headertext1 h1{
          font-size: 30px;
     }
     nav .left ul .fa-solid.fa-lock-open{
        display: block;
        top: 25px;
    left: 25px;
    font-size: 30px;
    
}

nav .left ul{
    background:#262626;
    margin: 3px 197px 36px -32px;
    border-radius: 15px;
    border-color: #fff;
    border-style: solid;
    position: fixed;
    top: 0;
    right: -200px;
   width: 200px;
    height: 50vh;
    padding-top: 50px;
    transition: right 0.5s;
}
nav .left ul li{
    display: block;
    margin: 25px;
}
nav .left ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.flex{
    display: block;
}
.about-col-1 {
    flex-basis: 100%;
}
.about-col-1 img{
    justify-content: space-between;
    padding-left: 20%;
}
.about-col-2{
    flex-basis: 100%;
    margin-left: -45px;
}
.about-col-2 h1{
    padding-left: 56px;
}
.button.tab-links {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-titles{
    margin-left: -30px;
}
.contact-left{
    flex-basis: 30%;
    width: 350px;
}
.contact-right{
    flex-basis: 42%;
}
.contact{
    height: 74vh;
    width: 760px;
}
.copyright{
    
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: 100px;
    padding-left: 150px;
}

}